{% extends 'layouts/base.html.twig' %}

{% block title %}Create post{% endblock %}

{% block body %}
    <div class="example-wrapper">
{#        {% if categories < 1 %}#}
{#            <div class="alert alert-success alert-dismissible fade show" role="alert">#}
{#                <p>#}
{#                    Создание постов невозможно, сначала создай категорию.#}
{#                </p>#}
{#                <hr>#}
{#                <a href="{{ path('admin_category_create') }}">#}
{#                    Создать категорию#}
{#                </a>#}
{#            </div>#}
{#        {% else %}#}
            <div>
                <h1>Create post</h1>
                {{ form(form) }}
            </div>
{#        {% endif %}#}
    </div>
{% endblock %}
