{% extends 'layouts/base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div>
            <h1>Create post</h1>
            <p>First create at least one category, then return here and create the first post</p>
        </div>
    </div>
{% endblock %}
